html {
    scroll-behavior: smooth;
}
body {
    background-color: #f1f1f1
}
h1, h2, h3, h4, h5, h6{
    color: #1E60AE !important;
}
.back-to-top-btn {
    position: fixed;
    bottom: 9px !important;
    left: 5px;
    z-index: 1000; 
    color: white;
    background-color: #2B62AD !important; 
    transition: background-color 0.3s; 
}
.back-to-top-btn:hover {
    background-color: #3D5B7A !important; 
}
.navbar.bg-body-tertiary,
footer.bg-body-tertiary {
    background-color: #133861 !important;
    border-top: 1px solid #133861 !important;
    margin-top: 0 !important;
}
footer.bg-body-tertiary .text-body-secondary {
    color: #ffffff !important;
}
footer.bg-body-tertiary .bi {
    color: #ffffff ;
}
footer.bg-body-tertiary a:hover i {
    color: #1E60AE;
    transition: 0.6s; 
}
.navbar-nav .nav-link {
    color: #ffffff ;  
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'%3e%3c/path%3e%3c/svg%3e") !important;
}
.navbar-toggler {
    border-color: white ;
    color: rgb(255, 255, 255);
}
.nav-link:hover {
    color: #1E60AE; 
    transform: scale(1.3);
    transition: 0.6s; 
}
@media (max-width: 767.98px) {
    .nav-link {
        transform-origin: left;
    }
}
@media (min-width: 768px) {
    .nav-link {
        transform-origin: center;
    }
}

.custom-btn-width {
    width: 150px; 
    max-width: 100%; 
    margin-bottom: 10px;
}
.custom-border {
    border-color: #133861; 
    border-width: 1px; 
}
/* index */
.divider {
    height: 2px;
    background-color: #133861;  
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    margin: 20px 0;  
}
.rotate360 {
    transition: transform 1s;
    transform: rotate(360deg);
}
.card-img-top {
    height: 360px;  
    object-fit: cover;
}
/*Curriculum Vitae*/
#contact {
    background-image: url(/images/Contactpagina_achtergrond.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
}
#cv-background {
    background-image: url('/images/cv_achtergrond\ .png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white; 
 }
 #cv-background .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 250px;
 }
 .img-fluid.img-round{
    border-radius: 50%; 
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
  display: block;
  margin-left: auto;
  margin-right: auto; 
}
.badge.bg-secondary{
    background-color: #1E60AE !important;
}
.white-background{
    background-color: #f1f1f1; 
}

.gray-background {
    background-color: #ececec; 
}
#accordionExample {
    background-color: #f1f1f1;
}
.accordion-item {
    background-color: #f1f1f1;
    border: 1px solid #133861;
}
.accordion-button:not(.collapsed) {
    background-color: #f1f1f1; 
    border-bottom: 1px solid #133861;
}
.accordion-button.collapsed {
    background-color: #f1f1f1; 
}
.accordion-body {
    background-color: #f1f1f1;
}
.btn.btn-primary {
    background-color: #133861;
    border-color: #133861;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    margin-bottom: 10px;
}
.btn.btn-primary:hover {
    background-color: #1E60AE;
    border-color: #1E60AE; 
}
main.gray-line .col-md-6 h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: darkgray;
    margin-top: 10px; 
    margin-bottom: 20px;
}
#naam{
    color: white !important;
}
.custom-progress {
    height: 15px;
    max-width: 30%;
    background-color: #f1f1f1; 
    border: 1px solid #133861; 
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

.custom-bar {
    background-color: #1E60AE; 
}
/* Ervaringen */
.card-link {
    width: 18rem; 
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 2px solid #133861; 
    border-radius: 1rem; 
    margin: 0 auto; 
}
.card-link:hover {
    transform: scale(1.1);
    z-index: 10;
    position: relative;
}
.card-link a {
    text-decoration: none;
    color: black;
}
.card-link a:hover {
    text-decoration: none;
}
.card-link .card-title,
.card-link .card-text {
    color: black;
}
.card-link img {
    width: 93%; 
    margin: 0 auto; 
    display: block; 
}
.ratio {
    border-radius: 15px;
    border: 1px solid #133861;
    overflow: hidden; 
}
/* Hobby's */
#carouselExampleCaptions {
    border-radius: 15px;
    border: 1px solid #133861;
    overflow: hidden; 
}
.carousel .carousel-inner .carousel-item img {
    height: 500px;
    object-fit: cover;  
    width: auto;        
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item {
    position: relative;
    align-items: center;
    width: 100%;
}
.carousel-caption {
    background-color: #1E60AE;
    border-radius: 10px;
    padding: 10px 20px; 
    margin-bottom: 20px;
    opacity: 0.75; 
}
.carousel-caption h5,
.carousel-caption p {
    color: white !important; 
}
.custom-img-max-height {
    max-height: 450px; 
    width: auto; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
/* Contact */
.contact-page .card-body {
    position: relative;
    padding-bottom: 60px;
}

.contact-page .btn {
    position: absolute;
    bottom: 10px;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
}









