body{
    background-color: #133861;
    margin: 0%;
}
.balk {
    height: 35px;
    width: 100%;
    background-color: #133861;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.logo{
    height: 35px;
    padding-left: 40px;
}
nav{
    margin-right: 10px;
}
.balklink{
    color: white;
    text-decoration: none; 
    transition: color 0.3s; 
    padding-left: 25px;
}
.balklink:hover{
    color: darkgray;
}
body:not(.balk) {
    background-color: white;
}
.midden{
    height: 400px;
    background-color: white;
    border-bottom: solid 1px #133861;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}   
.selfie {
    max-height: 100%;     
}
.linksmidden, .rechtsmidden {
    flex-basis: calc(50% - 10px); 
    height: 250px;
}
.h2startlinks, .paragraaflinks {
    text-align: center;
}
.h2startlinks, .paragraaflinks, .h2startrechts, .paragraafrechts {
    text-align: center; 
}
.paragraaflinks + p, .paragraafrechts + p {
    margin-top: 10px;
}
.h1start{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.bodem{
    background-color: white;
    margin-top: 0% ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
}
.linksbodem, .middenbodem, .rechtsbodem {
    flex-basis: calc(25% - 10px); 
}
.middenbodem {
    flex-basis: calc(50% - 10px); 
}
.paragraafbodem{
    padding: 15px;
    border: solid 3px #1E60AE;
    border-radius: 10px;
}






