*{
    margin: 0;
}
body{

}

/* Navigation bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #133861;
    display: flex;
    justify-content: flex-end;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
  
li a:hover:not(.active) {
    background-color: #1E60AE;
}
  
.active {
    background-color: #062B5C;
}
  #logo{
    height: 35px;
    padding-left: 25px; 
    float: left;
}
/* contentstart */
.startmidden{
    height: 400px;
    background-color: white;
    border-bottom: solid 1px #133861;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}   
.selfie {
    max-height: 100%;     
}
.startlinksmidden, .startrechtsmidden {
    flex-basis: calc(50% - 10px); 
    height: 250px;
}
.h2startlinks, .paragraaflinks {
    text-align: center;
}
.h2startlinks, .paragraaflinks, .h2startrechts, .paragraafrechts {
    text-align: center; 
}
.startparagraaflinks + p, .paragraafrechts + p {
    margin-top: 10px;
}
.h1start{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.startbodem{
    background-color: white;
    margin-top: 0% ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 20px;
}
.startlinksbodem, .startmiddenbodem, .startrechtsbodem {
    flex-basis: calc(25% - 10px); 
}
.startmiddenbodem {
    flex-basis: calc(50% - 10px); 
}
.startparagraafbodem{
    padding: 15px;
    border: solid 3px #1E60AE;
    border-radius: 10px;
}
.startfotobodem{
    
}

/*ervaringen pagina layout*/

.ervaringencontent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.ervaringencontentlinks {
    width: 40%;
    float: left;
    border:solid 1px #133861;
    height: 700px;
}
.videoervaringen {
    width: 100%; 
    height: 60%; 
    border: solid 1px #133861;
}
.linkervaringen {
    width: 100%; 
    height: 40%; 
    border: solid 1px #133861;
}
.ervaringencontentrechts {
    width: 60%;
    float: left;
    border:solid 1px #133861;
    height: 700px;
}
/*hobby pagina css*/

.hobbycontent {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    box-sizing: border-box;
}
.hobbycontentlinks {
    width: 55%;
}
.hobbycontentrechts {
    width: 45%;
}
.hobbyimglinks,
.hobbytekstrechts {
    height: 400px;
}
.hobbyimgrechts,
.hobbytekstlinks {
    height: 300px ;
}




.hobbytekstlinks,
.hobbytekstrechts,
.hobbyimglinks,
.hobbyimgrechts {
    border: 1px solid #133861;
}









